.topnav-wrapper {
  position: fixed;
  top: 0;
  width: 100%;
}
.topnav {
  background: white;
  padding: 10px 30px 10px 10px;
  border-bottom:.01em solid rgba(0,0,0,.5);
  text-align: right;
}
.topnav a {
  text-decoration: none;
  color: black;
  margin: 10px;
}
.topnav a:hover {
  color:#0099ff;
}
.content {
  padding: 40px 0px 40px 0px;
}
.bottomnav-wrapper{
  position: fixed;
  width: 100%;
  bottom: 0;
}
.bottomnav {
  background: white;
  padding: 5px 0px 5px 0px;
  border-top: .01em solid rgba(0,0,0,.5);
}
.bottomnav a{
  text-decoration: none;
  color: gray;
  padding: 10px;
}