#sf-logo {
  /* margin: 5px 0px 5px 20px; */
  position: fixed;
  top: 5px;
  padding: 5px;
  background: #0099ff;
  width: 20px;
  height: 20px;
  border-radius: 99%;
}
  #sf-logo div {
    background: #fff;
    width: 20px;
    height: 20px;
    border-radius: 50%;
  }
  #sf-logo span {
    visibility: hidden;
  }
  @media only screen and (min-width: 480px) {
    #sf-logo span {
      visibility: visible;
      position: fixed;
      top: 0px;
      /* height: 20px; */
      margin: 0px 0px 0px 10px;
      font-family: Lucida Sans;
      /* font-size: 1.1em; */
      transition-property: font-size;
      transition-duration: 100ms;
      transition-delay: 0s;
    }
    #sf-logo span:hover {
      font-size: 1.14em;
    }
    #sf-logo span p {
      font-family: Lucida Sans;
      font-weight: bold;
      /* font-size: 1.1em; */
      margin-top: 0px;
      padding: 0px;
      margin: 0px;
      /* margin-left: 9px; */
      /* line-height: 1; */
      letter-spacing: 2px;
      text-transform: uppercase;
      
    }
  }